
body {
    font-family: Arial, sans-serif;
    background-image: url('images/background.jpeg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    text-align: center;
}


h1 {
    color: #333;
    margin-top: 20px;
}

h3 {
    color: #444;
    margin-top: 20px;
}


p {
    font-size: 18px;
    color: #555;
}


a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

a:hover {
    color: #0056b3;
}


ol {
    text-align: left;
    display: inline-block;
    padding: 10px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;

}

th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #007BFF;
    color: white;
}


form {
    background: white;
    padding: 20px;
    width: 50%;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="radio"] {
    margin-left: 10px;
}


input[type="submit"],
input[type="reset"] {
    margin-top: 10px;
    padding: 10px;
    border: none;
    background: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    width: 49%;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background: #0056b3;
}
